.am-content {
  position: relative;
  left: 0;
  margin-left: 0px;
  min-height: 100%;
  margin-top: 40px;
}

.main-content {
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 20px;
}

.am-wrapper {
  min-height: 100%;
  overflow-x: hidden;
  padding-top: 70px;
}

/* Radio image select */

/*
* Example
* http://jsbin.com/image-instead-of-radio-button/3/edit?html,css,output
*/

label > input {
  /* HIDE RADIO */
  display: none;
}

label > input + img {
  /* IMAGE STYLES */
  cursor: pointer;
  border: 5px solid transparent;
}

label > input:checked + img {
  /* (CHECKED) IMAGE STYLES */
  border: 5px solid #f00;
}

/*------------------------------------------------------------------
  [Full calendar]
*/

.full-calendar .fc-header td {
  border-bottom: 0;
  border-left: 0;
}

.full-calendar .fc-header td.fc-header-left,
.full-calendar .fc-header td.fc-header-right {
  padding: 20px 0;
}

.full-calendar .fc-header td.fc-header-left .fc-header-title {
  padding: 0 10px;
}

.full-calendar .fc-header td.fc-header-right .fc-button {
  margin: 0;
  vertical-align: middle;
  padding: 10px;
  display: inline !important;
  border-radius: 0;
}

.full-calendar .fc-header td.fc-header-right .fc-button.fc-state-default {
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  color: #555555;
  border: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.full-calendar .fc-header td.fc-header-right .fc-button.fc-corner-right {
  border-right: 0;
}

.full-calendar .fc-header td.fc-header-right .fc-button.fc-state-active,
.full-calendar .fc-header td.fc-header-right .fc-button.fc-state-hover {
  background: #f96c6c;
  color: #ffffff;
  box-shadow: none;
  text-shadow: none;
}

@media (max-width: 767px) {
  .full-calendar .fc-header td.fc-header-right .fc-button {
    padding: 5px;
  }
}

@media (max-width: 767px) {
  .full-calendar .fc-header td.fc-header-right {
    padding-top: 0;
  }
}

@media (max-width: 767px) {
  .full-calendar .fc-header {
    text-align: center;
  }
}

.full-calendar .fc-content .fc-event-container .fc-event {
  background: #ef6262 !important;
  border-color: #eb3d3d !important;
  color: #ffffff !important;
  border-radius: 0;
}

.full-calendar .fc-content .fc-border-separate .fc-today {
  background-color: #f7f7f7;
}

.full-calendar .fc-content .fc-cell-overlay {
  background-color: rgba(239, 98, 98, 0.5);
}

.full-calendar #external-events .external-event {
  margin: 2px 0;
  padding: 5px;
  background: #ef6262;
  color: #ffffff;
  font-size: .85em;
  cursor: pointer;
  display: inline-block;
}

.full-calendar #external-events p input {
  margin-top: 15px;
}

.full-calendar #external-events p label {
  font-weight: 300;
  vertical-align: middle;
}

@media (max-width: 767px) {
  .full-calendar {
    max-width: 767px;
  }

  .full-calendar .fc-header .fc-header-left,
  .full-calendar .fc-header .fc-header-center,
  .full-calendar .fc-header .fc-header-right {
    text-align: center;
    display: block;
    width: 100%;
    padding: 20px;
  }

  .full-calendar .fc-header .fc-header-center {
    padding: 0;
  }
}

#loading {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
}

#script-warning {
  display: none;
  background: #eee;
  border-bottom: 1px solid #ddd;
  padding: 0 10px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  color: red;
}

.fc-event {
  position: relative;
  /* for resize handle and other inner positioning */
  display: block;
  /* make the <a> tag block */
  font-size: .85em;
  line-height: 1.3;
  border-radius: 0px;
  border: 2px solid #ef6262;
  /* default BORDER color */
  font-weight: normal;
  /* undo jqui's ui-widget-header bold */
  background: #ef6262;
  color: #ffffff !important;
}

.fc-future,
.fc-today {
  background-color: #e8ffd8;
}

.full-calendar #external-events .external-event a {
  color: #ffffff;
}

input.ng-pristine {
  border: 2px solid green;
}

input.ng-dirty {
  border: 2px solid green;
}

input.ng-invalid {
  border: 2px solid red;
}

.list-group-item.active a {
  color: #ffffff !important;
}