.am-top-header .navbar-header .navbar-brand {
  background-color: #3d3c3c;
  color: #ffffff;
  padding-top: 15px;
  padding-bottom: 0;
  line-height: 80px;
  height: 113px;
  width: auto;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 0px;
  border-bottom: 1px solid #474646;
}


.page-head h2 {
  margin-bottom: 5px;
  margin-top: 6px;
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
  letter-spacing: -1px;
  font-size: 28px;
  line-height: 36px;
}

.am-wrapper {
  min-height: 100%;
  overflow-x: hidden;
  padding-top: 0px;
}

.main-content {
  padding-left: 0px;
  padding-right: 35px;
  padding-top: 0px;
}

.am-top-header .navbar-collapse .am-user-nav > li.dropdown > a img {
  max-width: 86px;
  max-height: 86px;
  border-radius: 50%;
}

.am-top-header .navbar-collapse .navbar-nav > li.dropdown .dropdown-menu {
  border: 1px;
  border-radius: 3px;
  margin-top: 2px;
}

.am-top-header .navbar-collapse .navbar-nav > li.dropdown .dropdown-menu > li > a {
  font-size: 14px;
  font-weight: 300;
  color: #504e4e;
  padding: 10px 20px;
  min-width: 175px;
  width: auto;
}

.am-content {
  position: relative;
  left: 0;
  margin-left: 0px;
  min-height: 100%;
  margin-top: 40px;
}

.main-content {
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 20px;
}

.am-wrapper {
  min-height: 100%;
  overflow-x: hidden;
  padding-top: 70px;
}

.account-balance{
  font-weight: 700;
}

.btn-success {
  border-color: #629F1C;
  color: #ffffff;
  background-color: #629F1C;
  border-color: #629F1C;
}

.label-success {
  background-color: #629F1C;
}

/**
* Wizard
*/

.wizard {
  margin: 20px auto;
  background: #fff;
}

.wizard .nav-tabs {
  position: relative;
  margin: 40px auto;
  margin-bottom: 0;
  border-bottom-color: #e0e0e0;
}

.wizard > div.wizard-inner {
  position: relative;
}

.connecting-line {
  height: 2px;
  background: #e0e0e0;
  position: absolute;
  width: 80%;
  margin: 0 8%;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
  color: #555555;
  cursor: default;
  border: 0;
  border-bottom-color: transparent;
}

span.round-tab {
  width: 70px;
  height: 70px;
  line-height: 70px;
  display: inline-block;
  border-radius: 100px;
  background: #fff;
  border: 2px solid #e0e0e0;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 25px;
}
span.round-tab i{
  //color:#555555;
}
.wizard li.active span.round-tab {
  background: #fff;
  border: 2px solid #5bc0de;

}
.wizard li.active span.round-tab i{
  color: #5bc0de;
}

span.round-tab:hover {
  color: #333;
  border: 2px solid #333;
}

.wizard .nav-tabs > li {
  width: 16%;
}

.wizard li:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 0;
  margin: 0 auto;
  bottom: 0px;
  border: 5px solid transparent;
  border-bottom-color: #5bc0de;
  transition: 0.1s ease-in-out;
}

.wizard li.active:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 1;
  margin: 0 auto;
  bottom: 0px;
  border: 10px solid transparent;
  border-bottom-color: #5bc0de;
}

.wizard .nav-tabs > li a {
  width: 70px;
  height: 70px;
  margin: 20px auto;
  border-radius: 100%;
  padding: 0;
}

.wizard .nav-tabs > li a:hover {
  background: transparent;
}

.wizard .tab-pane {
  position: relative;
  padding-top: 50px;
}

.wizard h3 {
  margin-top: 0;
}

@media( max-width : 585px ) {

  .wizard {
    width: 90%;
    height: auto !important;
  }

  span.round-tab {
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }

  .wizard .nav-tabs > li a {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }

  .wizard li.active:after {
    content: " ";
    position: absolute;
    left: 35%;
  }
}

.nav-tabs {
  background-color: #ffffff;
  border-bottom-width: 0;
}