body {
  height: 100%;
  color: #6e6e6e;
  font-family: 'Kanit', sans-serif;
  font-size: 14px; }

.header-middle {
  background: #000 none repeat scroll 0 0;
  min-height: 50px;
  width: 100%; }

.logo {
  border-right: 0px solid #4a4a4a;
  float: left;
  padding: 15px 0;
  text-align: center;
  width: 18%;
  height: 80px; }

.webgrab {
  padding-top: 10px; }

.plus-account {
  display: inline-block;
  float: right;
  position: relative;
  width: auto; }

.cart {
  border-left: 0px solid #4a4a4a;
  border-right: 0px solid #4a4a4a;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  transition: all 0.4s ease 0s; }

.plus-icon {
  border-right: 0px solid #4a4a4a;
  color: #fff;
  font-size: 24px;
  line-height: 80px;
  text-align: center;
  cursor: pointer; }

.category-heading {
  overflow: hidden;
  border-left: 0px solid #4a4a4a;
  border-right: 0px solid #4a4a4a;
  color: #fff;
  cursor: pointer;
  font-family: Roboto,Arial,Helvetica,sans-serif;
  font-size: 15px;
  font-weight: bold;
  height: 80px;
  line-height: 80px;
  padding-left: 18px;
  text-transform: uppercase;
  width: 100%; }

.cat-align {
  border-left: 0px solid #4a4a4a;
  overflow: hidden;
  text-align: center;
  width: 30%;
  font-size: 24px;
  transition: all .3s; }

.cart-wrapper {
  z-index: 2147483647;
  margin-top: 0px;
  margin-right: 5px;
  width: 71px; }

.search-button {
  background: #ff3d00 none repeat scroll 0 0;
  background: #ff3d00 none repeat scroll 0 0;
  border: medium none;
  border-radius: 0;
  color: #fff;
  float: right;
  font-size: 24px;
  height: 100%;
  margin: 0;
  right: 0;
  text-align: center;
  top: 0;
  width: 48px;
  width: 7%;
  height: 59px; }

.category-menu-list ul li.rx-parent {
  background: #ff3d00; }

.sale-on {
  background: #ff3d00 none repeat scroll 0 0;
  border: 1px solid #ff3d00;
  border-radius: 0;
  box-shadow: none;
  font-family: Roboto,Arial,Helvetica,sans-serif;
  font-size: 10px;
  height: 25px;
  left: 15px;
  line-height: 25px;
  padding: 0 10px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 15px;
  color: #fff;
  font-weight: 700;
  z-index: 99; }
